:root {
  --main-background-color: rgba(255, 255, 255, 0.8);
}

.App {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
}
.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(222, 168, 248) 0%,
    rgb(168, 222, 248) 21.8%,
    rgb(189, 250, 205) 35.6%,
    rgb(243, 250, 189) 52.9%,
    rgb(250, 227, 189) 66.8%,
    rgb(248, 172, 172) 90%,
    rgb(254, 211, 252) 99.7%
  );
  border-radius: 20px;
  height: 480px;
  width: 650px;
}
ul {
  list-style: none;
}
.list-of-city ul {
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
  padding-top: 15px;
  margin-bottom: 8px;
}
.list-of-city li {
  margin-right: 35px;
}
form {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  height: 35px;
}
form input {
  width: 300px;
  height: 40px;
  border: solid;
  border-color: rgb(148, 148, 180);
  border-radius: 4px;
  background-color: lightskyblue;
}
button {
  margin-left: 10px;
  height: 40px;
  border: groove;
  background-color: lightskyblue;
  border-radius: 4px;
}
.city-info {
  display: block;
  margin-left: 25px;
}
.current-info {
  position: relative;
  top: -150px;
  left: 350px;

  font-weight: bold;
}
.list-of-forecast {
  position: relative;
  top: -120px;
}
.icon-temp {
  font-size: 48px;
}
h1 {
  text-transform: uppercase;
}
